@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

#grid-container{
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: 'Inter', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 50px;
}

.logo{
    max-width: 110px;
    max-height: 110px;
}

header{
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

nav ul{
    display: flex;
}

nav li{
    display: flex;
    align-items: center;
}

nav a{
    display: flex;
    justify-content: center;
    font-weight:400;
    margin: 10px;
}

.contact-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: 700;
}

.contact-btn:hover{
    background-color: #252525;
    color: #e6bd43;
} 

.current-page {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

main{
    grid-area: main;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* https://www.w3schools.com/html/html_images_background.asp 
    Bilde ble funnet på freepik.com - Image by Sketchepedia on Freepik*/
    background-image: url('https://img.freepik.com/free-vector/abstract-sale-busioness-background-banner-design-multipurpose_1340-16814.jpg?w=996&t=st=1700589357~exp=1700589957~hmac=68de5cb8727301df0e65651eba4759b4f7be608f5cd827e29330fc410a7d2aed');
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: 100% 100%;
    padding: 2rem;
    margin-bottom: 6rem;
}

.readmore-btn {
    padding: 1rem;
    text-decoration: none;
    background-color: #e6bd43;
    color: #000;
    font-weight: 700;
    max-width: 280px;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.readmore-btn:hover{
    background-color: #252525;
    color: #e6bd43;
}

.headline h1{
    text-align: center;
    margin-top: 50px;
}

.indexh2{
    font-size: 40px;
    margin-inline: auto;
    text-align: center;
    max-width: 700px;
}


.paraindex{
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 2rem;
    
}

.indexabout{
    background-color: #e6bd43;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.indexabout div{
    display: flex;
    margin: 3rem;
    align-items: center;
}

.placehold1{
    max-width: 338px;
}

.aboutbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.aboutbox h3{
    margin-top: 6rem;
    font-weight: 700;
}

.aboutbox p{
    max-width: 650px;
    text-align: left;
    
}

.readmore-btn2 {
    padding: 1rem;
    text-decoration: double;
    background-color: #e6bd43;
    color: #000;
    font-weight: 700;
    max-width: 200px;
    text-align: center;
    border: 2px solid black;
    margin-top: 1rem;
}

.readmore-btn2:hover{
    background-color: #252525;
    color: #e6bd43;
}

#ourservices{
    margin: 3rem;
    margin-top: 6rem;
    scroll-margin-top: 150px;
}

#servicesbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    
}

#servicesbox section{
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
}

#servicesbox h3{
    text-align: center;
}

#servicesbox p{
max-width: 240px;
text-align: center;
margin-top: 0;
}

#servicesbox section i{
    text-align: center;
    font-size: 40px;
    margin-top: 3rem;
}

.newsletter{
    background-color: lightgrey;
    padding: 1rem;
    padding-bottom: 3rem;
}

.signup{
    display: flex;
    justify-content: center;
}

.sign-btn{
    padding: 1rem;
    background-color: #e6bd43;
    color: #000;
    font-weight: 700;
    max-width: 200px;
    text-align: center;
}

.sign-btn:hover{
    background-color: #252525;
    color: #e6bd43;
}


#emailbox{
    border: none;
}



/* about.html elementer*/

.aboutheader{
    display: flex;
    justify-content: right;
    background-image: url('https://img.freepik.com/free-photo/many-different-smart-phones-displayed-dark-background-busy-office-scene_1372-28.jpg?w=740&t=st=1700845376~exp=1700845976~hmac=55cac7fe8fc4a94680217ad59571b6482d3e04ca9b8a09af1c6cb7287028a37e');
    /* Image by alexphotos on Freepik */
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;
    
}

.aboutheader h1{
    font-size: 20px;
    margin: 0;
}

.aboutheader h2{
    font-size: 16px;
    font-weight: 400;
}

#rightbox{
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin: 3rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.getintouch-btn{
    padding: 1rem;
    background-color: #e6bd43;
    color: #000;
    font-weight: 700;
    text-align: center;
    max-width: 200px;
}

.getintouch-btn:hover{
    color: #e6bd43;
    background-color: #252525;
}

.clientsection{
    background-color: #e6bd43;
    padding: 3rem 1rem;
}

.clientsection h2{
    font-size: 40px;
    margin-inline: auto;
    text-align: center;
    max-width: 700px;
}

.clientsbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.clientsbox img{
    margin: 1rem;
}

#contactsection{
    background-color: #eee;
    padding: 2rem;
}

#contactsection h2{
    font-size: 40px;
    text-align: center;
}

.contactbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;

}

.leftcontactbox{
    line-height: 2rem;
}


.rightcontactbox p, .rightcontactbox a{
    display: flex;
    align-items: center;
    gap: 15px;
}

.rightcontactbox i{
    font-size: 25px;
    color: #252525;
    text-decoration: none;
} 

.contactbox section{
    width: 37%;
    
}

.contactbox section input{
    width: 100%;
    border: none;
    padding: 1rem;
}

.contactbox section textarea{
    width: 100%;
    border: none;
    padding: 1rem;
    height: 150px;

}

.sendmessage-btn{
    padding: 1rem;
    background-color: #e6bd43;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
}

.sendmessage-btn:hover{
    background-color: #252525;
    color: #e6bd43;
}

.mailto-link{
    color: #0000FF;
    text-decoration: underline;
}

/* https://www.w3schools.com/graphics/google_maps_intro.asp */  
.google-map{
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
    min-height: 200px;
}

.google-map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/*products.html */

.portofolioheader{
    background-image: url("../images/product1.jpeg") ;
    /* Image by alexphotos on Freepik
    samme bilde som på about.html bare nedlastet slik at jeg kunne endre farger for å velge riktig fargestyrke */
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover; 
    padding: 8rem 0;
    
}

.portofolioheader h1{
    text-align: center;
}

.jobssection{
    margin: 3rem;
}

.jobssection h2{
    font-size: 40px;
    margin-bottom: 5px;
}

.jobssection hr{
    border: 1px solid #e6bd43;
    margin-bottom: 3rem;
}

.portofolio-btn{
    padding: 0.5rem;
    color: #252525;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    border: 1px solid #8b8b8b;
    margin: 0.5rem;
}

.portofolio-btn:hover{
    background-color: #252525;
    color: #e6bd43;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.flexbox section{
    flex-grow: 1;
    max-width: 692px;
}

.flexbox img{
    width: 100%;
    
}

/* https://www.w3schools.com/cssref/css3_pr_transform.php */
.flexbox section:hover{
    transform: scale(1.1);
    transition-duration: 2s;
    
}

#development, #branding, #design{
    scroll-margin-top: 50px;
}


footer{
    grid-area: footer;
    background-color: #252525;
    color: #fff;
}

#bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    margin: 3rem 1rem;
}

#socials{
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer p{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

footer a{
    color: #fff;
    margin: 12px;
}



@media only screen and (max-width:675px){
    #grid-container{
        grid-template-areas: "header" "main" "footer";
        
    }

    h1{
        font-size: 35px;
    }

    header{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .indexsubhead{
        margin: 2rem;
    }

    .indexabout{
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
    }

    .placehold1{
        width: 100%;
    }

    .aboutbox{
        margin: 0rem 5rem;
    }

    .aboutbox h3{
        margin-top: 0;
    }

    #rightbox{
        width: 80%;
    }

    .clientsbox img{
        max-width: 130px;
    }

    .contactbox{
        flex-direction: column;
    }

    .contactbox section{
        width: 100%;
    }

    .jobssection h2, .clientsection h2, #contactsection h2, .indexh2{
        font-size: 25px;
    }

    #bottom{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

}
